body .ui-panel .ui-panel-titlebar{
    background-color: #FBDB1B;
}
body .ui-button{
    background-color:#036242;
}

body .ui-widget-header {
    background: #036242;
    border: 1px solid #FDDA1C;
}

body .ui-inputfield {
    border-color: #036242;
}



body .ui-datatable thead th {
    background-color: #FDDA1C;
}