<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{title}}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='css/small-business.css')}}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  {% include 'home/header.html' %}

  <!-- Page Content -->
  <div class="container">
       
              <section id="about">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 mx-auto">
                      <h2>About this page</h2>
                      <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
                      <ul>
                        <li>Clickable nav links that smooth scroll to page sections</li>
                        <li>Responsive behavior when clicking nav links perfect for a one page website</li>
                        <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
                        <li>Minimal custom CSS so you are free to explore your own unique design options</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </section>
            
              <section id="services" class="bg-light">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 mx-auto">
                      <h2>Services we offer</h2>
                      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
                    </div>
                  </div>
                </div>
              </section>
            
              <section id="contact">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 mx-auto">
                      <h2>Contact us</h2>
                      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
                    </div>
                  </div>
                </div>
              </section>
    <!-- Footer -->
    {% include 'home/footer.html'%}
  </div>
  <!-- /.container -->


  <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

</body>

</html>
