<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">Lanstar Business</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{url_for('main.index')}}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.about')}}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.services')}}">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.contact')}}">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>