
<table class="table table-striped">
        <tr>
            <th>Vacancy Title</th>
            <th>Vacancy Type</th>
            <th>Description</th>
            <th>End Time</th>
            <th>Edit</th>
            <th>Delete</th>
           </tr>
        {% for value in vacancies %}
        <tr>
            <td>{{value.vacancy_title}}</td>
            <td>{{value.vacancy_type}}</td>
            <td>{{value.vacancy_description}}</td>
            <td>{{value.end_time}}</td>
            <td><a href="{{url_for('main.edit',vacancy_id=value.id)}}">Edit</a></td>
            <td><a href="{{url_for('main.delete',vacancy_id=value.id)}}">Delete</a></td>
        </tr>
        {% endfor %}

    </table>
