{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <ul class="nav navbar-nav">
        <li><a href="{{ url_for('main.view_applicants') }}">{{ _('View Applicants') }}</a></li>
        
        <li><a href="{{ url_for('main.view_vacancies') }}">{{ _('View All Vacancies') }}</a></li>
        
        <li><a href="{{ url_for('main.more') }}">{{ _('More') }}</a></li>
  
    </ul>
    <h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
<div class="container">
    <div class="row">
            <div class="col-8">
                <h6>Whats to Post A Vacancy?</h6>
            </div>
            <div class="col-4">
                    {% if form %}
                    {{ wtf.quick_form(form) }}
                    <br>
                    {% endif %}
            </div>
          </div>
    
</div>
   
   
{% endblock %}
