{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<table class="table table-striped">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Date of Application </th>
            <th>View</th>
            <th>Accept</th>
            <th>Decline</th>
           </tr>

        {% for value in applicants %}
        <tr>
            <td>{{value.firstname}}</td>
            <td>{{value.lastname}}</td>
            <td>{{value.address}}</td>
            <td>{{value.createdAt}}</td>
            <td><a href="{{url_for('main.view_applicant',applicant_id=value.id)}}">Delete</a></td>
            <td><a href="{{url_for('main.accept_applicant',applicant_id=value.id)}}">Accept</a></td>
            <td><a href="{{url_for('main.decline_applicant',applicant_id=value.id)}}">Decline</a></td>
        </tr>
        {% endfor %}

    </table>
{% endblock %}
